body {
	font-family: monospace;
	font-size: 20px;
	line-height: 28px;
}

header {
	display: flex;
	align-items: center;
}

header h1 {
	margin-left: 2%;
}

img {
	width: auto;
	height: 12vw;
}

main {
	margin: 5%;
	margin-right: 20%;
}
